src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="getEmployee" doc:id="3236d6ab-ff17-4939-8311-982c63e49554" >
		<http:listener doc:name="Listener" doc:id="581b3987-2690-44e2-a693-4bc2274ea373" config-ref="HTTP_Listener_config" path="/emp"/>
		<db:select doc:name="Select" doc:id="4582916e-26db-4726-a701-a1e729ba97bc" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from Employee]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="1f794e6c-7141-408f-8c79-2cfa058fd3be" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getEmployeeByID" doc:id="bc3fc42f-921b-45d4-a607-9cd853eb0924" >
		<http:listener doc:name="Listener" doc:id="0b3a243a-5dc8-4a61-9925-ce546953f2ee" config-ref="HTTP_Listener_config" path="/emp/{ID}"/>
		<db:select doc:name="Select" doc:id="476bdea7-b6d8-4c7b-a822-0d1a9d49923c" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from Employee where E_ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#["ID" : attributes.uriParams.ID]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b246d364-4cb7-4c65-9444-2c008411e502" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
